# Ignore node_modules in both frontend and backend
/chitchat/node_modules/
/chitvhat-backend/node_modules/

# Ignore build output in both frontend and backend
/chitchat/build/
/chitvhat-backend/build/

# Ignore logs
*.log

# Ignore environment variables
.env
/chitchat/.env
/chitvhat-backend/.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore package lock files if you want to
# /chitchat/package-lock.json
# /chitvhat-backend/package-lock.json
